$primary-colour: #df4576;
$base-colour: #303030;
$nav-colour: #121212;
$text-colour: #e4f0fb;

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  background-color: $base-colour;
  color: $text-colour;
}

.avatar-img {
  width: 160px;
  height: 160px;
  border-radius: 100%;
  border: 8px solid $primary-colour;
}

.main-container {
  padding: 40px;
}

.header {
  padding: 30px;
  background: $nav-colour;
  text-align: center;
}

.nav-menu-item {
  text-decoration: none;
  color: inherit;
  & + .nav-menu-item:before {
    content: " - ";
    padding: 0 10px;
  }
}

.social {
  margin-top: 16px;
  i {
    padding: 0 8px;
  }
}

.fab {
  color: $primary-colour;
}

.posts-list-item-title {
  color: $primary-colour;
  text-decoration: none;
}

@media (min-width: 940px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 270px;
    min-height: 100vh;
  }

  .main-container {
    margin-left: 330px;
  }
}
