body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.avatar-img {
  width: 15rem;
  height: 15rem;
  border-radius: 100%;
  border: 0.5rem solid #57cc8a;
}

.main-container {
  padding: 2.5rem;
}

.header {
  padding: 2.5em;
  background: #f5f5f5;
  text-align: center;
}

@media (min-width: 940px) {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    min-height: 100vh;
  }

  .main-container {
    max-width: 65rem;
    margin-left: 25rem;
  }
}
